.App {
  text-align: center;
}

.rotateimg{
  transform: rotateX(360deg) rotateZ(0); 
  animation: spin 3s linear infinite;
}
@keyframes spin {
  30% {
    transform: rotateX(30deg);
  }
  80% {
    transform: rotateX(-30deg);
  }
}
.txt-shadow{
  font-style: italic;
  text-shadow: 1px 6px 5px rgba(125, 128, 78, 1);
}
