.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.rotateimg{
  transform: rotateX(360deg) rotateZ(0); 
  animation: spin 3s linear infinite;
}
@keyframes spin {
  30% {
    transform: rotateX(30deg);
  }
  80% {
    transform: rotateX(-30deg);
  }
}
.txt-shadow{
  font-style: italic;
  text-shadow: 1px 6px 5px rgba(125, 128, 78, 1);
}
